* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Noto Sans Display', sans-serif;
    color: white;
    background: rgb(197,50,50);
    background: radial-gradient(circle, rgba(197,50,50,1) 0%, rgba(24,38,115,1) 100%);
    margin: 10px;
}


h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 35px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

h3 span {
    font-size: 25px;
}

span {
    font-weight: bold;
}

p {
    text-align: center;
    margin-bottom: 30px;
}

.links-list {
    list-style: none;
}

.links-list li {
    margin: 10px 20px;
}

.links-list a {
    text-decoration: none;
    color: rgb(197,50,50);
    background-color: #100d3f;
    padding: 15px 20px;
    display: block;
    font-weight: bold;
    border-radius: 11px;
}

.links-list li a span {
    color: gray;
    display: block;
    margin-top: 10px;
}

.footer {
    text-align: center;
    margin-top: 200px;
    color: rgba(255, 255, 255, 0.295);
    background-color: rgba(0, 0, 0, 0.24);
    padding: 3px 0;
}