* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body {
    font-family: 'Noto Sans Display', sans-serif;
    color: white;
    background: #182673;
}

.avatar {
    width: 150px;
    border-radius: 100%;
    border: 3px solid black;
    box-shadow: 0 0 20px black;
    margin-top: 30px;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: -10px;
    margin-top: 8px;
    
}

h2 {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 20px;
    color: #bebe00;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0;
}

.social img {
    width: 45px;
}

.links-list {
    list-style: none;
    text-align: center;
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
    background-color: #100d3f;
    padding: 20px 20px;
    font-weight: bold;
    display: block;
    border-radius: 50px;
    text-decoration: none;
    color: #bebe00;
    border: 2px solid #bebe00;
}

.links-list li a:hover {
    background-color: #bebe00;
    color: #182673;
}



.footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.295);
    background-color: rgba(0, 0, 0, 0.24);
    padding: 3px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    line-height: 100%;
}


